# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Check-in Process'
      'submenu': [
        {
          'label': 'Show CRs'
          'command': 'check-in-process:show-crs'
        }
      ]
    ]
  }
]
